<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/fonts/fontsheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/newsletter.css' %}">
        
    <link rel="apple-touch-icon" sizes="57x57" href="/media/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/media/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="manifest" href="/media/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/media/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    
    <script src="{% static 'js/newsletter.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <title>Newsletter | IETE Chennai</title>
</head>
<body>

    <div id="main-nav-menus-containers">
        <div class="desktop-navigation-menu-bg" id="desktop-menu">
            <div class="navigation-menu-section">
                <div class="iete-name">
                    <h3>IETE Chennai</h3>
                </div>
                <div class="main-menu-section">
                    <a href="{% url 'home:homeIndex' %}">HOME</a>
                    <a href="{% url 'events:eventList' %}">EVENTS</a>
                    <a href="{% url 'membership:membershipIndex' %}">MEMBERSHIP</a>
                    <a href="{% url 'newsletter:newsletterIndex' %}">NEWSLETTER</a>
                    <a href="{% url 'committee:committeeIndex' %}">COMMITTEE</a>
                    <a href="{% url 'about:aboutIndex' %}">ABOUT</a>
                    <a href="{% url 'contact:contactIndex' %}">CONTACT</a>
                </div>
            </div>
        </div>
        
        <div class="hamburger-menu-bg" id="mobile-menu" onclick="toggleMobileMenu(this)">

            <div class="hamburger-icon-menu-bg">
                <div class="hamburger-icon-section">
                    <div class=line id="lineOne"></div>
                    <div class=line id="lineTwo"></div>
                    <div class=line id="lineThree"></div>
                </div>
            </div>

            <div class="hamburger-menu-page">
                <div class="hamburger-menu-section">
                    <a href="{% url 'home:homeIndex' %}" onclick="changeBackground(this)">HOME</a>
                    <a href="{% url 'events:eventList' %}" onclick="changeBackground(this)">EVENTS</a>
                    <a href="{% url 'membership:membershipIndex' %}" onclick="changeBackground(this)">MEMBERSHIP</a>
                    <a href="{% url 'newsletter:newsletterIndex' %}" onclick="changeBackground(this)">NEWSLETTER</a>
                    <a href="{% url 'committee:committeeIndex' %}" onclick="changeBackground(this)">COMMITTEE</a>
                    <a href="{% url 'about:aboutIndex' %}" onclick="changeBackground(this)">ABOUT</a>
                    <a href="{% url 'contact:contactIndex' %}" onclick="changeBackground(this)">CONTACT</a>
                </div>
            </div>
        </div>
    </div>


    <div id="main-container">
        <div class="hero-bg" id="hero-bg">
            

            <div class="hero-section">
                <div class="hero-text-container">
                    <h1>CHENLINK</h1>
                    <p>The Official Newsletter of IETE Chennai</p>
                </div>
            </div>
        </div>

        <div class="newsletter-bg">
            <div class="newsletter-section">
                <div class="pdf-section">
                    <div class="newsletter-file visible" id="one_three-edition">
                        <iframe src="{% static '/assets/newsletter/chenlink1_3.pdf' %}" 
 type="application/pdf">
                        </iframe>
                    </div>

                    <div class="newsletter-file" id="one_two-edition">
                        <iframe src="{% static '/assets/newsletter/chenlink1_2.pdf' %}" 
 type="application/pdf">
                        </iframe>
                    </div>

                    <div class="newsletter-file" id="one_one-edition">
                        <iframe src="{% static '/assets/newsletter/chenlink1_1.pdf' %}"
 type="application/pdf">
                        </iframe>
                    </div>
                </div>
                <div class="nav-section">
                    <div class="nav-header">
                        <h1>Latest</h1>
                        <div class="img-text">
                            <img src="{% static '/assets/cursor-click-fill.svg' %}">
                            <p>Click to view the Edition!</p>
                        </div>
                    </div>
                    <div class="links-container" id="desktop-links-cont">
                        <a class="pdf-nav-link active" onclick="activateNewsletter(this,3)">CHENLINK Vol. 1 - No. 3</a>
                        <a class="pdf-nav-link" onclick="activateNewsletter(this,2)">CHENLINK Vol. 1 - No. 2</a>
                        <a class="pdf-nav-link" onclick="activateNewsletter(this,1)">CHENLINK Vol. 1 - No. 1</a>
                    </div>

                    <div class="mobile-links-container" id="mobile-links-cont">
                        <a href="{% static '/assets/newsletter/chenlink1_3.pdf' %}" onclick="changeBackgroundNewsletter(this)">CHENLINK Vol. 1 - No. 3</a>
                        <a href="{% static '/assets/newsletter/chenlink1_2.pdf' %}" onclick="changeBackgroundNewsletter(this)">CHENLINK Vol. 1 - No. 2</a>
                        <a href="{% static '/assets/newsletter/chenlink1_1.pdf' %}" onclick="changeBackgroundNewsletter(this)">CHENLINK Vol. 1 - No. 1</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bg" id="page-footer">
        <div class="footer-section">
            <p>© Copyright <b>IETE Chennai</b>.</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>

    
</body>
</html>